body {
    font-family: 'roboto', sans-serif;
}

/* nav */
nav div {
    font-weight: bolder;
}

/* jumbotron */
.jumbotron {
    background-color: #fff;
}

.jumbotron div {
    position: relative;
    color: white;
    width: fit-content;
}

.jumbotron div p {
    position: absolute;
    left: 20px;
}

.jumbotron div p:first-of-type {
    top: 63%;
}

.jumbotron div p:last-of-type {
    top: 65%;
    font-weight: bold;
    font-size: 50px;
}

.jumbotron div a button {
    position: absolute;
    left: 20px;
    top: 80%;
    width: 8%;
}

/* end of jumbotron */

/* main */
div.main h4 {
    margin-left: 5%;
    margin-bottom: 20px;
}

div.main h4.mt-5 {
    padding-top: 80px;
}

.scrolling-wrapper {
    display: flex;
}

div.scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}

div.scroll::-webkit-scrollbar {
    height: 9px;
}

div.scroll:hover::-webkit-scrollbar-track {
    border-radius: 10px;
    border-bottom: 1px;
}

div.scroll:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1d2422;
}

div.main div.row {
    width: 95%;
    padding: 0 8px;
}

div.main div.row div.col {
    height: 650px;
    position: relative;
    color: white;
    width: fit-content;
}

div.main div.row div.col img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.main div.row div.col p {
    position: absolute;
    font-size: larger;
    left: 50px;
    top: 80%;
}

div.main div.row div.col a button {
    position: absolute;
    left: 50px;
}

div.main div.row div.col a button:first-of-type {
    top: 87%;
}

div.main div.row div.col a button:last-of-type {
    top: 87%;
    left: 120px;
}

div.main div.row.row-2 {
    width: 95%;
    padding: 0 8px;
}

div.main div.row.row-2 div.col {
    height: 570px;
    position: relative;
    color: white;
    width: fit-content;
}

div.main div.row.row-2 div.col img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.main div.row.row-2 div.col a button {
    position: absolute;
    left: 50px;
    top: 87%;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-top: 10%;
    display: inline-flex;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner a {
    color: #fff;
    text-decoration: none;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-front img {
    width: 300px;
    height: 300px;
}

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back p:first-of-type {
    padding-top: 30px;
}

/* end of main */

/* buy */
.buy div.modal-body img {
    width: 350px;
    margin-left: 10px;
    height: 440px;
    object-fit: cover;
}

.buy div.modal-body div.col p:nth-child(3) {
    margin-bottom: 0;
}

.buy div.modal-body div.col button.btn.border {
    width: 110px;
    height: 50px;
}

.active,
.btn:hover {
    background-color: #666;
    color: white;
}

.buy div.modal-body div.col button.btn {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.buy div.modal-body div.col button.btn.border:nth-of-type(n+7) {
    margin-bottom: 30px;
}

/* end of buy */
/* footer */
footer {
    margin-top: 100px;
    background-color: #333333;
    padding-top: 60px;
}

footer div div h5 {
    color: #c4c4c4;
}

footer form div label {
    color: #fff;
}

/* end of footer */