@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}
.jamdigital {
    /* background-color: #e9e64c; */
    border-radius: 15px;
}

.jam {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: 6px;
    transition: .4s;
    user-select: none;
}
/* bayar */
.loader,
.loader:before,
.loader:after {
    background: #958e8e;
    /* -webkit-animation: load1 1s infinite ease-in-out; */
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #958e8e;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.modal-body div#modalanimate {
    height: 150px;
}
.modal-body div#modalsucces img{
    height: 180px;
}
.modal-body div#modalsucces{
    height: 238px;
}

/* akhir dari bayar */
/* right */
/* dropdown */
#order {
    background-color: rgb(72, 160, 255) !important;
    color: #fff;
}

#order option:not(:checked) {
    background-color: #fff;
    color: #000;
}

/* end of dropdown */
select {
    width: 400px;
    text-align-last: center;
}

div.row div.col-3 div.mt-3 {
    padding-top: 5px;
    height: 37px;
    border-radius: 3px;
    width: 100%;
    background-color: rgb(72, 160, 255);
    color: #fff;
}

div.row div.col-3 i {
    color: #000;
}

div.keranjang {
    height: 350px;
    overflow: hidden;
    background-color: #f5faff;
    /* overflow-y: scroll; */
}

div.keranjang div.row div.row div.col {
    margin-left: 4px;
    font-size: 14px;
    font-weight: 600;
}

div.keranjang div.row {
    background-color: #fff;
}

/* div.keranjang .tabeltotal {
    display: block;
} */
/* div#keranjang input:disabled{
    background-color: #fdfeff;
} */


div.keranjang div.row div.row.mt-1 div.col-4 {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 700;
}

div.keranjang div.row div.col div.row div.col-8 {
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

div.keranjang div.row div.col div.row div.col-4 {
    font-size: 12px;
}

div.keranjang div.row div.col div.row div.col-8 input,
div.keranjang div.row div.col div.row div.col-8 div button {
    height: 25px;
    width: 40px;
}

div.keranjang div.row div.col div.row div.col-8 input,
.inputan {
    width: 50px;
}

/* total */
.total {
    font-size: 14px;
}

.total div.row div:last-of-type {
    font-family: 'Roboto Mono',
        monospace;
}

.total div.row:last-of-type {
    background-color: #007bff;
    color: #f5faff;
}

/* akhir dari total */
/* akhir dari right */

/* left */
nav.navbar .navbar-brand {
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-style: italic;
    line-height: 15px;
    font-size: 25px;
}

div.row div {
    padding: 0;
}

div.row {
    margin: 0;
}

div.row div div.input-group.mb-3 div.input-group-append span.input-group-text {
    background-color: #ffffff;
    border-left: #ffffff;
    font-size: large;
    height: 38px;
}

div.row div div.input-group.mb-3 input {
    font-weight: 500;
}

div.row div .form-control:focus {
    border-color: rgb(206, 212, 218);
}

div.row div div.input-group.mb-3 div.input-group-append div .btn,
div.row div div.input-group.mb-3 div.input-group-append .btn {
    border-radius: 100% !important;
    width: 40px;
}

div.row div div.input-group.mb-3 div.input-group-append .btn:hover {
    background-color: rgb(221, 221, 221);
}

div.main {
    height: 500px;
    background-color: #f5faff;
}

/* akhir dari left */

/* card */

div.main div.card p.card-text,
.drag.ui-draggable-dragging p.card-text {
    color: #007bff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    /* line-height: 22px; */
    font-size: 20px;
    margin-bottom: 10px;
}

div.main div.card p.card-title,
.drag.ui-draggable-dragging p.card-title {
    font-weight: 600;
    /* line-height: 19px; */
    font-size: 15px;
    overflow: hidden;
    margin-bottom: 0;
}

.card,
.drag.ui-draggable-dragging {
    width: 14rem;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

img.card-img-top,
.drag.ui-draggable-dragging img.card-img-top {
    /* margin-left: 10px;  */
    margin: 8px 0 4px 11px;
    width: 200px;
    height: 200px !important;
    object-fit: cover;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card:active,
.drag.ui-draggable-dragging {
    cursor: grabbing;
}

/* akhir dari card */

/* iklan */
.marquee {
    width: 85%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    color: #ffffff;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}


/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
    .marquee {
        white-space: normal
    }

    .marquee span {
        animation-iteration-count: 1;
        animation-duration: 0.01;
        /* instead of animation: none, so an animationend event is 
     * still available, if previously attached.
     */
        padding-left: 0;
    }
}