@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    overflow: hidden;
}

div.row div.col#leftWing button {
    font-family: 'Anton',
        sans-serif;
    left: 21pc;
}


div.container h1.text-center {
    font-family: 'Anton',
        sans-serif;
}

div.container div.row div.col div.row div.col input,
input[type='number'] {
    font-size: 12px !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}